* {
    box-sizing: border-box;
}
h1{
	text-align: center;
}
h2{
    width: fit-content;
    text-align: right;
  
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 32%;
    padding: 5px;
    margin: 5px;
    background-color:grey;
    
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}