* {
    box-sizing: border-box;
}
#b{
    background-color: pink;
  
    

    
}
#c{
    background-color: red;
    
    
}
#j{
    background-color: yellow;
}
h1{
	text-align: center;
}
.borderblack{
    border:  solid 2px black;
    width: 50px;
}
h2{
    
    margin-top: -5px;
    margin-right: -15px;
    text-align: right;
    margin-left: 250px;
   

    
  
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 32%;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    background-color:grey;
    
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}